<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="On" />
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Custom" />
        <staticContent>
            <mimeMap fileExtension="apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
    </system.webServer>
    <location path="temp/GrabIt.aspx">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
